
.ConteinerMenu{
    display: flex;
    background-color: #D9D9D9;
}

.ConteinerPagina{
    display: flex;
    background-color: #E7E7E7;
}

footer{
    background-color: #fff;
    color: #04C9F4;
}

h3{
    background-color: #04C9F4;
    color: #fff;
}

#Home{
    background-color: #D9D9D9;
    color: black;
}

#Cadastros{
    background-color: #D9D9D9;
}

#BV{
    background-color: #04C9F4;
    color: #fff;
}